[submodule "mfx_dispatch"]
	path = mfx_dispatch
	url = https://github.com/lu-zero/mfx_dispatch/
[submodule "libprocessinggraph"]
	path = libprocessinggraph
	url = https://edugit.org/sdcieo0330/libprocessinggraph
	branch = main
