[submodule "libpgraph_network"]
	path = libpgraph_network
	url = https://edugit.org/sdcieo0330/libpgraph_network.git/
	branch = main
[submodule "mfx_dispatch"]
	path = mfx_dispatch
	url = https://github.com/lu-zero/mfx_dispatch
	branch = master
[submodule "libpgraph"]
	path = libpgraph
	url = https://edugit.org/sdcieo0330/libpgraph.git/
	branch = main
[submodule "cpp-static-block"]
	path = cpp-static-block
	url = https://github.com/eyalroz/cpp-static-block
	branch = master
[submodule "LibScreenCapture"]
    path = LibScreenCapture
    url = https://edugit.org/sdcieo0330/LibScreenCapture.git/
