# Default ignored files
/shelf/
/workspace.xml
/codestream.xml
/statistic.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/discord.xml
/deployment.xml
/.name
/codeStyles/Project.xml
/codeStyles/codeStyleConfig.xml
/GrepConsole.xml
